[Unit]
Description=app docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a app:{{ version }}
ExecStop=/usr/bin/docker stop -t 2 app:{{ version }}
TimeoutSec=30

[Install]
WantedBy=multi-user.target
